<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
	<bean id="audience" class="main.java.concert.bean.Audience" />
	
	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut id="aop-pointcut" expression="execution(** main.java.concert.interfaces.Performance.perform(..))"/>
			<!-- <aop:pointcut id="xxx" expression="execution(** main.java.concert.interfaces.Performance.id(int)) && args(performID)" /> -->
			<aop:before pointcut="execution(** main.java.concert.interfaces.Performance.perform(..))"
				method="silenceCellPhones"/>
			<aop:before pointcut-ref="aop-pointcut"
				method="takeSeats"/>
			<aop:after-returning pointcut-ref="aop-pointcut"
				method="applause"/>
			<aop:after-throwing pointcut-ref="aop-pointcut"
				method="demandRefund"/>	
			<!-- <aop:around pointcut-ref="aop-pointcut"
				method="watchPerformance"/> -->	
		</aop:aspect>
			
	</aop:config>
		
</beans>