<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!-- the factory bean, which contains a method createClientServiceInstance-->
	<bean id="serviceLocator" class="main.java.testframework.serviceLocatorBeans.DefaultServiceLocator">
		<constructor-arg ref="defaultClientService"/>
	</bean>

	<!-- the bean to be created via the factory bean -->
	<bean id="clientService"
	    factory-bean="serviceLocator"
	    factory-method="createClientServiceInstance"/>
	<bean id="defaultClientService" class="main.java.testframework.serviceLocatorBeans.ClientService">
		<constructor-arg index="0" value="LaLaLa..."/>
		<constructor-arg index="1" type="int" value="999"/>
	</bean>
	
	<bean id="command" class="main.java.testframework.methodInjectionBeans.Command" scope="prototype"/>
	<bean id="commandManager" class="main.java.testframework.methodInjectionBeans.CommandManager">
		<lookup-method name="createCommand" bean="command"/>
	</bean>
	
</beans>